:root {
  --main-color: #1f1f5e;
  --secondary-color: #dac797;
  --ternary-color: #486ba6;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --background-color: #a38c4c;
  --background-secondary-color: #fff;
  --border-color: #80717f;
  --border-secondary-color: #bcc0cb;
  --plus-color: #2ecc71;
  --minus-color: #c0392b;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(fine.jpg);
  background-size: cover;
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.home {
  margin-right:auto; 
  margin-left: 10px;
}

.tip {
  background-color: rgb(240, 215, 148);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 317px;


}
.input {
 
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 200px;
  min-width: 200px;
  margin: 10px
}
.select {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 200px;
  min-width: 200px;
}

.button {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 200px;
  min-width: 200px;
  margin: 10px
}
.output {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 200px;
  min-width: 200px;
}
