:root {

  --secondary-color: hsla(0, 0%, 83%, 0.8);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --background-color: #b0b6afcc;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(key.jpg);
  background-size:cover;
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.home {
  margin-right:auto; 
  margin-left: 10px;
}

.pass {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 260px;


}
.input {
 
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 205px;
  min-width: 205px;
}

.button {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 205px;
  min-width: 205px;
  margin: 10px
}
.output {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  max-width: 205px;
  min-width: 205px;
}
